body {
    background-color: white;
}

h1 {
    color: white;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    
    text-align: center;
    width: 250px;
    border-style: groove;
    border: 10px solid maroon;
    border-radius: 10px; 
    margin: auto;
}

img {
    border-width: 20px;
    border-style: solid;
    border-color: maroon;
    float: left;
}

h2 {
    margin-top: 0px;
    text-align: center;
    color: maroon;
    text-decoration: underline;
}

p {
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;

    margin-left: 20px;
    margin: 23px;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color:purple;
}

a:hover {
    color: rgb(224, 5, 253);
}

.header_bar {
    float: left;
    margin-bottom: 15px;
    padding: 10px;
}

.image {
    padding: 10px;
    clear: both;
}

.content {
    overflow: hidden;
}

.paragraph {
    text-indent: 25px;
}

.resume_title {
    clear: both;
    text-align: center;
}

h4 {
    color: maroon;
    text-align: center;
}

.resume_headers {
    clear:both;
    float: left;
    width: 150px;
}

.resume_contents {
    float: left;
    overflow: hidden;
}

.long_content {
    float: left;
    margin: 20px;
    width: 750px;
}
